
'context-menu':
    'atom-text-editor': [
        {
            'label': 'Focus Mode'
            'submenu': [
                {
                    'label': 'Context Focus'
                    'command': 'atom-focus-mode:toggle-context-focus'
                }
                {
                    'label': 'Cursor Focus'
                    'command': 'atom-focus-mode:toggle-cursor-focus'
                }
                {
                    'label': 'Cursor Shadow Focus'
                    'command': 'atom-focus-mode:toggle-shadow-focus'
                }
                {
                    'label': 'Single Line Focus'
                    'command': 'atom-focus-mode:toggle-single-line-focus'
                }
            ]
        }
    ]
'menu': [
    {
        'label': 'Packages'
        'submenu': [
            'label': 'Focus Mode'
            'submenu': [
                {
                'label': 'Context Focus'
                'command': 'atom-focus-mode:toggle-context-focus'
                }
                {
                'label': 'Cursor Focus'
                'command': 'atom-focus-mode:toggle-cursor-focus'
                }
                {
                'label': 'Cursor Shadow Focus'
                'command': 'atom-focus-mode:toggle-shadow-focus'
                }
                {
                'label': 'Single Line Focus'
                'command': 'atom-focus-mode:toggle-single-line-focus'
                }
            ]
        ]
    }
]
