
// focus-mode text editor styling
.focus-mode atom-text-editor::shadow
{
    .line { opacity: 0.15; }

    .line .comment,
    .line.cursor-line,
    .focus-line {
        opacity: 1;
    }
}

// focus-mode-shadow text editor styling
.focus-mode-shadow atom-text-editor::shadow
{
    .line { opacity: 0.15; }

    // active cursor line
    .line.cursor-line,
    .line.comment.cursor-line,
    .focus-line.cursor-line {
        opacity: 1;
    }

    // shadow lines around main cursor line
    .line.comment,
    .focus-line {
        opacity: 0.55;
    }
}

// gutter line number styling
.focus-mode atom-text-editor::shadow,
.focus-mode-shadow atom-text-editor::shadow
{
    .line-number
    {
        opacity: 0.2;

        &.cursor-line {opacity: 0.6;}
    }
}

// File browser styling
.focus-mode .tool-panel,
.focus-mode-shadow .tool-panel
{
    li span,
    .list-item::before {
        opacity: 0.25;
    }

    li.selected span {opacity: 0.8;}

    li:hover span {opacity: 1;}
}
