
// FOCUS MODE
.focus-mode atom-text-editor.editor,
.focus-mode-context atom-text-editor.editor
{
    .line { opacity: 0.15; }

    .line .syntax--comment,
    .line.cursor-line,
    .focus-line {
        opacity: 1;
    }
}

// focus-mode with focus-line 55% opacity
.focus-mode.line-55 atom-text-editor.editor,
.focus-mode-context.line-55 atom-text-editor.editor
{
    .focus-line { opacity: 0.55; }

    .line .syntax--comment,
    .line.cursor-line {
        opacity: 1;
    }
}


// FOCUS SHADOW MODE
.focus-mode-shadow atom-text-editor.editor
{
    .line { opacity: 0.15; }

    // active cursor line
    .line.cursor-line,
    .line.syntax--comment.cursor-line,
    .focus-line.cursor-line {
        opacity: 1;
    }

    // shadow lines around main cursor line
    .line.syntax--comment,
    .focus-line {
        opacity: 0.55;
    }
}


// LINE NUMBER STYLING
.focus-mode atom-text-editor.editor,
.focus-mode-shadow atom-text-editor.editor,
.focus-mode-context atom-text-editor.editor
{
    .line-number
    {
        opacity: 0.2;

        &.cursor-line {opacity: 0.6;}
    }
}


// FILE BROWSER SIDEBAR STYLING
.focus-mode .tool-panel,
.focus-mode-shadow .tool-panel,
.focus-mode-context .tool-panel
{
    li span,
    .list-item::before {
        opacity: 0.25;
    }

    li.selected span {opacity: 0.8;}

    li:hover span {opacity: 1;}
}
